In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
#Player Count
players = purchase_data["SN"].unique()
playercount = len(players)
summary_01 = pd.DataFrame({"Total players": [playercount]})
summary_01

   Total players
0            576

In [3]:
#Purchasing Analysis (Total)
items = purchase_data["Item ID"].unique()
itemcount = len(items)
#itemcount
ave_pr = purchase_data["Price"].mean()
#ave_pr
number_purchase = len(purchase_data["Item ID"])
#number_purchase
total = purchase_data["Price"].sum()
#total
summary_02 = pd.DataFrame({"Number of Unique Items": [itemcount],
                          "Average Price": [ave_pr],
                          "Number of Purchases": [number_purchase],
                          "Total Revenue": [total]})

#Change format
summary_02["Average Price"] = summary_02["Average Price"].map("${:.2f}".format)
summary_02["Total Revenue"] = summary_02["Total Revenue"].map("${:.2f}".format)
summary_02

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [4]:
#Gender Demographics
gender = purchase_data["Gender"].value_counts()       
summary_03 = pd.DataFrame(gender)
summary_03["Percentage of Players"] = summary_03["Gender"] / playercount * 100
summary_03["Percentage of Players"] = summary_03["Percentage of Players"].map("{:.2f} %".format)
summary_03

                       Gender Percentage of Players
Male                      652              113.19 %
Female                    113               19.62 %
Other / Non-Disclosed      15                2.60 %

In [5]:
#Purchasing Analysis (Gender)
#Set index to gender and calculate variables
genderindex = purchase_data.set_index("Gender")
#df.head()
male_price = genderindex.loc["Male", "Price"]
male_aveprice = male_price.mean()
#male_aveprice
male_totalvalue = male_price.sum()
#male_totalvalue
female_price = genderindex.loc["Female", "Price"]
female_aveprice = female_price.mean()
#female_aveprice
female_totalvalue = female_price.sum()
#female_totalvalue
other_price = genderindex.loc["Other / Non-Disclosed", "Price"]
other_aveprice = other_price.mean()
#other_aveprice
other_totalvalue = other_price.sum()
#other_totalvalue
#Data Frame of summary table
summary_04 = pd.DataFrame({
    "Gneder": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [652, 113, 15],
    "Average Purchase Price": [male_aveprice, female_aveprice, other_aveprice],
    "Total Purchase":[male_totalvalue, female_totalvalue, other_totalvalue]
})
summary_04["Normalized Totals"] = summary_04["Total Purchase"] / summary_04["Purchase Count"]
#Formating
summary_04["Normalized Totals"] = summary_04["Normalized Totals"].map("${:.2f}".format)
summary_04["Average Purchase Price"] = summary_04["Average Purchase Price"].map("${:.2f}".format)
summary_04["Total Purchase"] = summary_04["Total Purchase"].map("${:.2f}".format)
summary_04

,Gneder,Purchase Count,Average Purchase Price,Total Purchase,Normalized Totals
0,Male,652,$3.02,$1967.64,$3.02
1,Female,113,$3.20,$361.94,$3.20
2,Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [6]:
#Age Demographics
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age = purchase_data["Age"]
age_df = pd.DataFrame(age)
#age_df
age_df["Age Summary"] = pd.cut(age_df["Age"], age_bins, labels=group_names)
age_df = age_df.groupby("Age Summary")
age_df['Age Summary'].value_counts()

Age Summary  Age Summary
<10          <10             23
10-14        10-14           28
15-19        15-19          136
20-24        20-24          365
25-29        25-29          101
30-34        30-34           73
35-39        35-39           41
40+          40+             13
Name: Age Summary, dtype: int64

In [7]:
#creat summary table
summary_05 = pd.DataFrame({
    "Age Summary": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Total Count": [23, 28, 136, 365, 101, 73, 41, 13],
    "Percentage of Players": [23 / 576*100, 28 / 576*100, 136/ 576*100, 365 /576 *100, 101/576*100, 73/576*100, 41/576*100, 13/576*100],
})
summary_05["Percentage of Players"] = summary_05["Percentage of Players"].map("{:.2f}%".format)
summary_05

  Age Summary  Total Count Percentage of Players
0         <10           23                 3.99%
1       10-14           28                 4.86%
2       15-19          136                23.61%
3       20-24          365                63.37%
4       25-29          101                17.53%
5       30-34           73                12.67%
6       35-39           41                 7.12%
7         40+           13                 2.26%

In [8]:
#Purchasing Analysis (Age)
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
#purchase_data
purchase_groupbyage = purchase_data.groupby("Age Group")
pc = purchase_groupbyage.count()
#pc
age_count = pd.DataFrame(pc["Age"])
#age_count
avepc = purchase_groupbyage.mean()
age_aveprice = pd.DataFrame(avepc["Price"])
#age_aveprice
summary_06 = pd.merge(age_count, age_aveprice, on="Age Group")
summary_06 = summary_06.rename(columns={"Age": "Purchase Count", "Price": "Average Purchase Price"})
summary_06["Total Purchase Value"]= summary_06["Purchase Count"] * summary_06["Average Purchase Price"]
summary_06["Normalized Totals"]= summary_06["Total Purchase Value"] / summary_06["Purchase Count"]
summary_06["Normalized Totals"] = summary_06["Normalized Totals"].map("${:.2f}".format)
summary_06["Total Purchase Value"] = summary_06["Total Purchase Value"].map("${:.2f}".format)
summary_06["Average Purchase Price"] = summary_06["Average Purchase Price"].map("${:.2f}".format)
summary_06

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

In [10]:
#Top Spenders
tp = purchase_data.groupby(['SN'])
tpv = tp.sum()
tpv = tpv.sort_values(["Price"], ascending=False)
#tpv.reset_index(inplace=True)
tpv = tpv["Price"]
tpv_df = pd.DataFrame(tpv)
#tpv_df
avp = tp.mean()
avp = avp["Age"]
avp_df = pd.DataFrame(avp)
#avp_df
pc = tp.count()
pc = pc["Purchase ID"]
pc_df = pd.DataFrame(pc)
#pc_df
summary_07 = pd.merge(tpv_df, avp_df,on="SN")
summary_07 = pd.merge(summary_07, pc_df,on="SN")
summary_07 = summary_07.rename(columns={"Price": "Total Purchase Value", "Age": "Average Purchase Price", "Purchase ID": "Purchase Count"})
summary_07["Total Purchase Value"] = summary_07["Total Purchase Value"].map("${:.2f}".format)
summary_07["Average Purchase Price"] = summary_07["Average Purchase Price"].map("${:.2f}".format)
summary_07.head(5)

            Total Purchase Value Average Purchase Price  Purchase Count
SN
Lisosia93                 $18.96                 $25.00               5
Idastidru52               $15.45                 $24.00               4
Chamjask73                $13.83                 $22.00               3
Iral74                    $13.62                 $21.00               4
Iskadarya95               $13.10                 $20.00               3

In [11]:
#Most Popular Items
mpi = purchase_data.groupby(['Item Name', 'Item ID'])
pc = mpi.count()
pc = pc.sort_values(["Purchase ID"], ascending=False)
pc = pc["Purchase ID"]
pc_df = pd.DataFrame(pc)
#pc_df
tpv = mpi.sum()
tpv = tpv["Price"]
tpv_df = pd.DataFrame(tpv)
#tpv_df

ip = mpi['Price']
ip = ip.max()
ip_df = pd.DataFrame(ip)
#ip_df

id = mpi['Item ID']
id_df = pd.DataFrame(id.max())
#id_df
                     
summary_08 = pd.merge(pc_df, tpv_df,on="Item Name")
summary_08 = pd.merge(summary_08, ip_df,on="Item Name")
summary_08 = pd.merge(summary_08, id_df,on="Item Name")
summary_08 = summary_08.rename(columns={"Price_x": "Total Purchase Value", "Price_y": "Item Price", "Purchase ID": "Purchase Count"})
summary_08["Total Purchase Value"] = summary_08["Total Purchase Value"].map("${:.2f}".format)
summary_08["Item Price"] = summary_08["Item Price"].map("${:.2f}".format)
summary_08.head(5)

,Purchase Count,Total Purchase Value,Item Price,Item ID
Item Name,,,,
"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23,178
"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53,108
Nirvana,9,$44.10,$4.90,82
Fiery Glass Crusader,9,$41.22,$4.58,145
"Pursuit, Cudgel of Necromancy",8,$8.16,$1.02,19

In [12]:
#Most Profitable Items

mpi = purchase_data.groupby(['Item Name', 'Item ID'])

tpv_2 = mpi.sum()
tpv_2 = tpv_2.sort_values(["Price"], ascending=False)

tpv_2 = tpv_2["Price"]
tpv_df_2 = pd.DataFrame(tpv_2)
#tpv_df

pc_2 = mpi.count()
pc_2 = pc_2["Purchase ID"]
pc_df_2 = pd.DataFrame(pc_2)
#pc_df

ip2 = mpi['Price']
ip2 = ip2.max()
ip2
ip_df2 = pd.DataFrame(ip2)
#ip_df2

id = mpi['Item ID']
id_df = pd.DataFrame(id.max())
#id_df
                     
summary_09 = pd.merge(pc_df_2, tpv_df_2,on="Item Name")
summary_09 = pd.merge(summary_09, ip_df2,on="Item Name")
summary_09 = pd.merge(summary_09, id_df,on="Item Name")
summary_09 = summary_09.rename(columns={"Price_x": "Total Purchase Value", "Price_y": "Item Price", "Purchase ID": "Purchase Count"})
summary_09 = summary_09.sort_values(["Total Purchase Value"], ascending=False)
summary_09["Total Purchase Value"] = summary_09["Total Purchase Value"].map("${:.2f}".format)
summary_09["Item Price"] = summary_09["Item Price"].map("${:.2f}".format)
summary_09.head(5)

,Purchase Count,Total Purchase Value,Item Price,Item ID
Item Name,,,,
"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23,178
Nirvana,9,$44.10,$4.90,82
Fiery Glass Crusader,9,$41.22,$4.58,145
Final Critic,5,$39.04,$4.88,92
Final Critic,5,$39.04,$4.19,101